<form action="/movie/add" method="POST">
    <br>Nom:<br><input type="text" name="nom">
    <br>Prenom:<br><input type="text" name="prenom">
    <br>Courriel<br><input type="email" name="courriel">
    <br>Telephone<br><input type="number" name="telephone">
    <select name="sujet" id="demande">
        <option value="inscription">Inscription</option>
        <option value="demande">Demande de formation</option>
    </select>
    <br>Formulaire de demande<br><textarea name="description" cols="30" rows="10"></textarea>
    <br>Soumettre<input type="submit" value="submit">
</form>